* {
	font-family: "Arial";
    margin: 0px;
}

header {
	background-image: url("img/container_bg.png");
	font-weight: bold;
	text-align: center;
	height: 80px;
	border: solid 1px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	background-color: orange;
	color: blue;
	display:flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	text-shadow: 1px 1px 2px black, 0 0 1em orange, 0 0 0.2em orange;
    margin-bottom: 5px;
}

header img {
	width: 160px;
	height: 60px;
}

nav {
	background-image: url("img/container_bg.png");
	height: 40px;
	background-color: wheat;
	display:flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

nav strong a{
	color: orange;
	text-shadow: 1px 1px 2px black, 0 0 1em orange, 0 0 0.2em orange;
	text-decoration: none;
}

#contenido{
    background-image: url("img/container_bg.png");
	background-repeat: repeat;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	height: fit-content;
	width: 100%;
	min-height: 70vh;
}

#info{
	background-image: url("img/container_bg.png");
	background-repeat: repeat;
	display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
	height: fit-content;
	width: 100%;
}

#ult_entradas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
	background-color: rgba(245, 222, 179, 0.5);
    height: fit-content;
	width: fit-content;
	border-radius: 20px;
	box-shadow: 4px 4px grey;
    margin: 10px;
}

footer {
	background-image: url("img/container_bg.png");
	text-align: center;
	height: 80px;
	border: solid 1px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: orange;
	color: blue;
	display:flex;
	justify-content: center;
	align-items: center; 
	font-style: italic;
}